 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/dan-dimmock-sNwnjxm8eTY-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 362px;
  height: auto;
  margin: 213px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 67px 345px 0 0;
  padding: 18px 57px 19px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  border-style: solid;
  margin: -62px 108px 0 auto;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    min-height: 342px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    padding-right: 36px;
    padding-left: 35px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -59px;
    margin-right: 67px;
    padding-right: 37px;
    padding-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -63px;
    margin-right: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 174px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 704px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 584px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  font-style: normal;
  margin: 36px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 23px auto 0 0;
  padding: 18px 57px 19px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 584px;
  pointer-events: auto;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-group-1 {
  min-height: 477px;
  height: auto;
  background-image: none;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 298px;
  height: 540px;
  margin: -70px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.85714rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-1 {
    min-height: 398px;
    margin-top: 155px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-image-1 {
    height: 475px;
    width: 257px;
    margin-top: -77px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 469px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 8px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 361px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -30px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 656px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  width: 755px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 381px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 1.85714rem;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-3 .u-text-3 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1012px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/christina-wocintechchat-com-jzonFmreWok-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 415px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 21px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 67px auto 0;
  padding: 20px 68px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.85714rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 122px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 656px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  width: 755px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 381px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-6 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-7 {
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-icon-7 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

.u-section-5 .u-list-item-8 {
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-icon-8 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 1.85714rem;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-5 .u-text-3 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    width: 161px;
    font-size: 1.28571rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1012px;
  }

  .u-section-5 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 399px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 23px 28px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 14px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 45px 14px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: none;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  font-weight: 600;
  background-image: none;
  margin: 45px 343px 0 0;
  padding: 14px 52px 15px 51px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin: 30px auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.85714rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 133px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin: 30px auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 670px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 70px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 60px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 368px;
  grid-gap: 20px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -25px auto 0;
  padding: 18px;
}

.u-section-7 .u-text-2 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  width: 367px;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-7 .u-text-3 {
  font-style: normal;
  width: 367px;
  margin: 19px auto 0;
}

.u-section-7 .u-image-1 {
  width: 167px;
  height: 167px;
  background-image: url("images/Default_pfp.svg");
  background-position: 50% 50%;
  margin: 52px auto -46px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -25px auto 0;
  padding: 18px;
}

.u-section-7 .u-text-4 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  width: 367px;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-7 .u-text-5 {
  font-style: normal;
  width: 367px;
  margin: 19px auto 0;
}

.u-section-7 .u-image-2 {
  width: 167px;
  height: 167px;
  background-image: url("images/Default_pfp.svg");
  background-position: 50% 50%;
  margin: 52px auto -46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 100px 100px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    min-height: 804px;
    grid-gap: 91px 91px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 320px;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
  }

  .u-section-7 .u-text-4 {
    width: 320px;
  }

  .u-section-7 .u-text-5 {
    width: 320px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 389px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 269px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 168px;
  height: 92px;
  margin: 60px auto 0 33px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 30px 23px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 34px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 5px 5px 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 269px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  width: 244px;
  height: 135px;
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-8 .u-image-1 {
    width: 169px;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.85714rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-8 .u-image-2 {
    height: 106px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-image-1 {
    height: 72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 258px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-image-2 {
    height: 99px;
    margin-top: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-8 .u-image-1 {
    height: 139px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 383px;
  }

  .u-section-8 .u-image-2 {
    height: 166px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-8 .u-image-2 {
    height: 99px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/bruce-mars-GzumspFznSE-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 358px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 2.25rem;
  margin: 135px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.85714rem;
    margin-top: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 450px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 70px auto 0;
}

.u-section-10 .u-list-1 {
  margin: 50px 0 57px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 140px;
  grid-gap: 30px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 100%;
  margin: 0 auto;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 10px;
}

.u-section-10 .u-image-2 {
  height: 80px;
  margin: 0 auto;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 10px;
}

.u-section-10 .u-image-3 {
  height: 95px;
  margin: 0 auto;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
}

.u-section-10 .u-container-layout-4 {
  padding: 10px;
}

.u-section-10 .u-image-4 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-10 .u-list-item-5 {
  background-image: none;
}

.u-section-10 .u-container-layout-5 {
  padding: 10px;
}

.u-section-10 .u-image-5 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-10 .u-list-item-6 {
  background-image: none;
}

.u-section-10 .u-container-layout-6 {
  padding: 10px;
}

.u-section-10 .u-image-6 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 350px;
    grid-gap: 30px 30px;
  }

  .u-section-10 .u-image-1 {
  margin: 41px 0;
    width: 100%;
  }

  .u-section-10 .u-image-2 {
  height: 150px;
  margin: 41px 0;
    width: 100%;
  }

  .u-section-10 .u-image-3 {
    width: 100%;
    margin: 41px 0;
    height: 150px;

  }

  .u-section-10 .u-image-4 {
    height: 74px;
    width: 64px;
    margin-top: 41px;
  }

  .u-section-10 .u-image-5 {
    height: 74px;
    width: 64px;
    margin-top: 41px;
  }

  .u-section-10 .u-image-6 {
    height: 74px;
    width: 64px;
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 416px;
}

.u-section-11 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 47px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 309px;
  pointer-events: auto;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-11 .u-image-1 {
  margin: 37px auto 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 309px;
  pointer-events: auto;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  text-align: left;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2px 235px 0 0;
}

.u-section-11 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-11 .u-btn-1 {
  font-weight: 700;
  font-size: 1.14286rem;
  letter-spacing: 1px;
  margin: 22px 353px 0 0;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  font-weight: 700;
  font-size: 1.14286rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-11 .u-btn-3 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 24px 272px 0 0;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 260px;
    background-position: 50% 50%;
  }

  .u-section-11 .u-image-1 {
    margin-top: 63px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 1rem;
    margin-right: 253px;
  }

  .u-section-11 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-11 .u-btn-3 {
    margin-right: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 23px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 87px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-11 .u-btn-1 {
    margin-right: 143px;
  }

  .u-section-11 .u-btn-3 {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 47px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    width: 229px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
  }

  .u-section-11 .u-btn-1 {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-11 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    width: 156px;
  }
}
